body{
	background-image: url("images/purpleFlower.jpg");
	background-repeat : no-repeat;
	background-size: 100%;
}

#name {
	text-align: center;
	font-size: 50px;
	font-family: 'Petit Formal Script', cursive;
	color: #cca5a3;
	text-shadow: 4px 4px black;
}

#links {
	text-align: center;
	font-size: 25px;
	font-family: 'Petit Formal Script', cursive;
	color: #90877c;
	text-shadow: 4px 4px black;

}